/* src/components/Piece/Piece.css */
.piece {
    font-size: 40px;
    cursor: pointer;
  }
  
  .white-piece {
    color: #fff;
    text-shadow: 0 0 2px #000;
  }
  
  .black-piece {
    color: #000;
  }